
$frame-banner: "../images/frame-banner.svg";

$white: #ffffff;
$black: #000000;
$grey: #f2f2f2;
$bg-body: #F9F9FF;
$bg-blue: #F6F8FF;
$bg-blue-dark: #13265E;
$bg-blue-dark-01: #0E1E4F;
$border-input: #3452AB;
$header-bg: #353353;
$footer-bg: #f2f2f2;
$yellow: #fef30c;
$text-color: #222c29;
$title-color: #454360;
$purple: rgba(108, 108, 229, 0.9);
$bg-footer: #380700;


$shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
$shadow-blue: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
$shadow-yellow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
$shadow-pink: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
$shadow-btn: 0px 2px 6px 0px rgba(69,67,96,0.5);
$shadow-sticky: 0px -1px 6px 0px rgba(69,67,96,0.2);