body {
	color: $text-color;
	background-color: $bg-body;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.container-fluid {
	padding-left: 10px;
	padding-right: 10px;
	&.lg {
		padding-left: 40px;
		padding-right: 40px;
		@media (max-width: 600px) {
			padding-left: 10px;
			padding-right: 10px;
		}
		.row {
			div[class^="col-"] {
				padding-left: 20px;
				padding-right: 20px;
				@media (max-width: 600px) {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
}
.content-area {
	width: 100%;
	max-width: 720px;
	margin: 0 auto 300px auto;
	box-shadow: $shadow;
}
.section {
	padding: 40px 0;
	background-color: $white;
	position: relative;
	overflow: hidden;
	@media(max-width: 1024px) {
		padding: 30px 0;
	}
	&.bg-green {
		background-color: $success;
	}
	&.bg-red {
		background-color: $danger;
	}
	&.bg-grey {
		background-color: $grey;
	}
	h3 {
		font-size: 16px;
		color: $title-color;
		font-weight: 600;
	}
}
ul {
	&.list-icon {
    	li {
    		position: relative;
    		padding-left: 20px;
    		margin-bottom: 10px;
    		&:last-child {
    			margin-bottom: 0;
    		}
    		i {
    			position: absolute;
    			top: 4px;
    			left: 0;
    			color: $primary;
    		}
    	}
    }
}
.title {
	margin-bottom: 30px;
	position: relative;
	h2 {
		font-weight: 700;
		font-size: 36px;
		color: $text-color;
		line-height: 48px;
		@media (max-width: 600px) {
			font-size: 32px;
			line-height: 36px;
		}
		@media (max-width: 480px) {
			font-size: 28px;
			line-height: 32px;
		}
		&.sm {
			font-size: 28px;
			line-height: 35px;
		}
		&.uppercase {
			text-transform: uppercase;
		}
		&.text-white {
			color: $white;
		}
		&.text-gold {
			color: $gold;
		}
		&.text-red {
			color: $danger;
		}
		&.text-green {
			color: $success;
		}
		&.text-yellow {
			color: $yellow;
		}
		@media(max-width: 991px) {
			font-size: 24px;
		}
	}
	h3 {
		font-size: 28px;
		line-height: 35px;
		color: $white;
	}
	&.lg {
		h3 {
			font-size: 30px;
			line-height: 36px;
		}
	}
	&.left {
		text-align: left;
		&:after {
			left: 0;
			@include translateX(0);
		}
	}
}
h3 {
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 30px;
	@media(max-width: 991px) {
		font-size: 18px;
	}
}
.rounded {
	border-radius: 20px !important;
}
.sticky-cta {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: $white;
	padding: 8px 0;
	box-shadow: $shadow-sticky;
	text-align: center;
	z-index: 3;
	.btn {
		padding: 12px 41px;
		text-transform: uppercase;
		border-radius: 4px;
		margin-bottom: 4px;
	}
}