.frame-banner {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 154px;
	z-index: 2;
	background-image: url($frame-banner);
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: 600px) {
		text-align: center;
		height: auto;
		padding: 80px 0 10px 0;
		background-position: bottom;
	}
	.telp {
		position: absolute;
		left: 80px;
		bottom: 18px;
		@media (max-width: 600px) {
			position: relative;
			left: initial;
			bottom: initial;
			margin-bottom: 20px;
		}
		p {
			color: $white;
			font-weight: 700;
			margin: 0;
			font-size: 14px;
			line-height: 18px;
			&.phone {
				font-size: 24px;
			}
		}
	}
	.btn {
		display: inline-block;
		position: absolute;
		right: 30px;
		bottom: 18px;
		font-size: 18px;
		@media (max-width: 600px) {
			position: relative;
			left: initial;
			right: initial;
			bottom: initial;
		}
	}
}
.benefit {
	padding-top: 30px;
	margin-left: 65px;
	@media (max-width: 600px) {
		margin-left: 0;
	}
	li {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 10px;
		@media (max-width: 600px) {
			font-size: 18px;
		}
	}
}
.case-wrapper {
	position: relative;
	margin-bottom: 20px;
	img {
		max-width: inherit;
		width: 100%;
	}
	.caption {
		background-color: $danger;
		padding: 5px 10px;
		box-shadow: $box-shadow;
		width: 100%;
		a {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			width: 100%;
			height: 100%;
			display: block;
			z-index: 2;
		}
		h3 {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 0;
			display: block;
			width: 100%;
			text-align: center;
			color: $white;
			z-index: 1;
			text-transform: uppercase;
		}
		span {
			color: $white;
			width: 40px;
			height: 40px;
			border-radius: 200px;
			background-color: $yellow;
			display: block;
			position: absolute;
			left: 10px;
			bottom: 10px;
			z-index: 1;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%, -50%);
			}
		}
	}
	&:hover {
		> .caption {
			opacity: 1;
			visibility: visible;
		}
	}
}

.price-product {
	text-align: center;
	padding: 0 50px;
	p {
		color: $black;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 0;
		&.text-success {
			font-size: 24px;
			font-weight: 700;
		}
	}
	.promo-box {
		padding: 50px;
		margin-top: 50px;
		margin-bottom: 40px;
		border: 4px dashed $danger;
		img {
			margin-bottom: 30px;
			width: 100%;
		}
		span {
			display: inline-block;
			position: relative;
			&:after {
				content: "";
				width: 100%;
				height: 2px;
				background-color: $danger;
				position: absolute;
				top: 50%;
				left: 0;
				@include translateY(-50%);
			}
		}
	}
}
.call-action {
	background-color: $footer-bg;
	padding: 20px 0;
	color: $white;
	@media(max-width: 768px) {
		display: block;
		margin-left: 0;
	}
	.frame-banner {
		position: relative;
		left: initial;
		bottom: initial;
		background-image: none;
		background-repeat: none;
		background-size: none;
		padding: 0;
		height: 100px;
		@media (max-width: 600px) {
			position: relative;
			left: initial;
			right: initial;
			bottom: initial;
			height: auto;
		}
		.telp {
			bottom: 25px;
			@media (max-width: 600px) {
				position: relative;
				left: initial;
				right: initial;
				bottom: initial;
			}
			p {
				color: $black;
				font-size: 18px;
				margin-bottom: 10px;
				&.phone {
					font-size: 30px;
					color: $success;
				}
			}
		}
		.btn {
			bottom: 25px;
			font-size: 24px;
			padding-bottom: 10px;
			box-shadow: $shadow-btn;
			@media (max-width: 600px) {
				position: relative;
				left: initial;
				right: initial;
				bottom: initial;
			}
			i {
				font-size: 48px;
				margin-bottom: -10px;
			}
			span {
				display: block;
				text-align: center;
				font-size: 18px;
				line-height: 18px;
				margin-top: -10px;
				padding-left: 20px;
			}
		}
	}
}
.order-online {
	text-align: center;
	img {
		max-width: 100%;
		margin-bottom: 30px;
	}
}