@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700&display=swap');
$font-poppins-serif: 'Roboto', sans-serif;
$font-size-base: 16;
// navbar
$navbar-padding-y: 32px;
$navbar-padding-x:	32px;
// buttons
$btn-padding-y: 8px;
$btn-padding-x: 15px;
$btn-border-radius: 5px;
$btn-font-weight: 300;
$btn-font-family: $font-poppins-serif;
$grid-gutter-width: 20px;
//type
$headings-font-family: $font-poppins-serif;
$headings-font-weight: 700;
$headings-line-height: 64px;
$headings-color: #000000;
$primary: #1762f1;
$danger: #f92425;
$success: #4cb04f;
$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "success": $success
);
$blue: #0c2a8a;
$orange: #F2AB27;
$gold: #edb964;
// Option B: Include parts of Bootstrap

// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Optional
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/jumbotron";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/buttons";

// pages
@import "mymixin";
@import "myvariables";
@import "components/gallery";
@import "components/button";
@import "components/jumbotron";
@import "components/footer";
@import "global";
@import "index";
