<footer class="footer">
	<div class="container">
		<div class="d-flex">
			<p class="mb-0">&copy; 2019  by Devid Septian</p>
			<ul class="social-icons light list-inline mb-0 mt-0">
				<li class="list-inline-item"><a href="#"><i class="icon-linkedin"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-facebook"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-twitter"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</footer>