{% set page_id = "Index" %}
{% extends "layout.html" %}
	{% block content %}
	<div class="sticky-cta">
		<a href="https://api.whatsapp.com/send?phone=08119999508&text=Saya%21%20Mau%20%20Pesan%20Madu%20." class="btn btn-primary" target="_blank">
			Saya Mau Pesan Sekarang
		</a>
	</div>
	<div class="home">
		<section class="herobanner">
		  <div class="hero-content text-center d-block">
				<img src="./dist/images/header-banner.jpg" alt="banner">
				<div class="frame-banner">
					<div class="telp">
						<p>Order Via Telp dan SMS</p>
						<p class="phone">08119999508</p>
					</div>
					<a href="https://api.whatsapp.com/send?phone=08119999508&text=Saya%21%20Mau%20%20Pesan%20Madu%20." class="btn btn-success btn-sm" target="_blank">
						<i class="fa fa-whatsapp my-float"></i> Order via Whatsapp
					</a>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container-fluid">
				<div class="title text-center">
					<h2>Jika Anda Mengalami Gangguan Kesehatan Seperti:</h2>
				</div>
				<div class="row">
					<div class="col-md-4" >
						<div class="case-wrapper ">
							<img src="./dist/images/gejala7.jpg" alt="case">
							<div class="caption">
								<h3>Sakit Maag</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4" >
						<div class="case-wrapper ">
							<img src="./dist/images/gejala9.jpg" alt="case">
							<div class="caption">
								<h3>Asam Lambung Naik</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="case-wrapper ">
							<img src="./dist/images/gejala1.jpg" alt="case">
							<div class="caption">
								<h3>Sakit Ulu Hati</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4" >
						<div class="case-wrapper ">
							<img src="./dist/images/gejala3.jpg" alt="case">
							<div class="caption">
								<h3>Imun Tubuh Melemah</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="case-wrapper ">
							<img src="./dist/images/gejala5.jpg" alt="case">
							<div class="caption">
								<h3>Perut Selalu Perih</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="case-wrapper ">
							<img src="./dist/images/gejala2.jpg" alt="case">
							<div class="caption">
								<h3>Mual &amp; Muntah</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="case-wrapper ">
							<img src="./dist/images/gejala8.jpg" alt="case">
							<div class="caption">
								<h3>Perut Kembung</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="case-wrapper ">
							<img src="./dist/images/gejala6.jpg" alt="case">
							<div class="caption">
								<h3>Perut Terasa Panas</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="case-wrapper ">
							<img src="./dist/images/gejala4.jpg" alt="case">
							<div class="caption">
								<h3>Stamina Menurun</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section bg-red">
			<div class="container-fluid">
				<div class="title text-center mb-0">
					<h2 class="text-yellow uppercase mb-0">Inilah Bahaya Yang Bisa Ditimbulkan Jika Maag Dibiarkan Begitu Saja dan Tidak Segera Diatasi Dengan Benar</h2>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-md-6 text-center">
						<img src="./dist/images/news1.jpg" alt="news">
					</div>
					<div class="col-md-6 text-center">
						<img src="./dist/images/news2.jpg" alt="news">
					</div>
				</div>
			</div>
		</section>
		<section class="section bg-green">
			<div class="container-fluid">
				<div class="title text-center">
					<h2 class="uppercase mb-4">Madu MLV</h2>
					<h3>Solusi Aman dan Alami Membantu Mengatasi Beragam Masalah Pada Lambung Anda dan Keluarga</h3>
				</div>
			</div>
			<img src="./dist/images/composition.jpg" alt="hlv" class="img-fluid">
			<div class="container-fluid">
				<div class="title text-center mt-5 lg">
					<h3>Madu Kesehatan Lambung HerbaLaaveta Berkhasiat Untuk:</h3>
				</div>
				<ul class="list-unstyled benefit">
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Mengatasi Maag</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Mengatasi Gejala Maag</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Mengatasi Asam Lambung</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Mengatasi Tukak Lambung</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Mengatasi Perut Perih</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Mencegah Kolesterol Tinggi</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Menguatkan Daya Tahan Tubuh</li>
					<li><img src="./dist/images/icon-check.png" alt="hlv" class="mr-2"> Menambah Stamina &amp; Vitalitas</li>
				</ul>
			</div>
		</section>
		<section class="section bg-grey">
			<div class="container-fluid lg">
				<div class="title text-center">
					<h2 class="text-green sm">Testimonial REAL Pengguna Produk Kami</h2>
				</div>
				<div class="gallery">
					<div class="gallery-wrapper">
						<div id="grid"class="row my-shuffle-container">
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_06.jpg" alt="case">
								</div>
							</div>
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_03.jpg" alt="case">
								</div>
							</div>
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_02.jpg" alt="case">
								</div>
							</div>
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_01.jpg" alt="case">
								</div>
							</div>
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_04.jpg" alt="case">
								</div>
							</div>
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_05.jpg" alt="case">
								</div>
							</div>
							<div class="col-6 picture-item" data-groups='["madu"]'>
								<div class="case-wrapper ">
									<img src="./dist/images/testi_07.jpg" alt="case">
								</div>
							</div>
							<div class="shuffle_sizer"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container-fluid">
				<div class="title text-center pl-lg-5 pr-lg-5">
					<h2 class="text-gold pl-lg-5 pr-lg-5">Harga Sepesial dari Kami, Jika Pesan Hari ini Juga</h2>
				</div>
				<div class="price-product">
					<p>Beli 1 botol, Rp. 60.000,</p>
					<p class="text-success">Rp. 55.000</p>
					<div class="promo-box">
						<img src="./dist/images/promo.jpg" alt="hlv">
						<p>Beli 3 botol, <span class="del">Rp.180.000</span>,</p>
						<p class="text-success">Rp. 55.000</p>
					</div>
					<img src="./dist/images/img-arrow.png" alt="hlv">
				</div>
			</div>
		</section>
		<section class="call-action">
			<div class="container-fluid">
				<div class="frame-banner">
					<div class="telp">
						<p>Order Via Telp dan SMS</p>
						<p class="phone">08119999508</p>
					</div>
					<a href="https://api.whatsapp.com/send?phone=08119999508&text=Saya%21%20Mau%20%20Pesan%20Madu%20." class="btn btn-success btn-sm" target="_blank">
						<i class="fa fa-whatsapp my-float"></i> Order via Whatsapp
						<span>Klik di sini</span>
					</a>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container-fluid">
				<div class="order-online">
					<img src="./dist/images/logo.jpg" alt="logo">
					<img src="./dist/images/order-ol.jpg" alt="logo">
				</div>
			</div>
		</section>
		<footer>
			<div class="container-fluid">
				<div class="text-center">
					<p class="mb-1">&copy; 2020 Copyright. Madu HLV Untuk Kesehatan Lambung</p>
					<p class="mb-0">All Right Reserved</p>
				</div>
			</div>
		</footer>
	</div>
	{% endblock %}
	{% block script %}
	{% endblock %}