.btn {
  font-weight: 500;
  border: 1px solid $white;
  &.rounded {
    border-radius: 50px !important;
  }
  &.btn-sm {
    padding: 2px 15px;
  }
  i {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 8px;
  }
}