.gallery {
  .picture-item {
    position: relative;
    margin-bottom: 20px;
  }
  // .filter-options {
  //   margin-bottom: 40px;
  //   text-align: center;
  //   .btn {
  //     color: $black;
  //     background-color: transparent;
  //     border-radius: 5px;
  //     border: none;
  //     padding: 4px 18px;
  //     @media(max-width: 767px) {
  //       padding-left: 5px;
  //       padding-right: 5px;
  //     }
  //     &.active {
  //       color: $white;
  //       background-color: $primary;
  //     }
  //     &:focus {
  //       box-shadow: none;
  //       outline: none;
  //     }
  //   }
  // }
  .my-shuffle-container {
    .col-4 {
      @media(max-width: 991px) {
        flex: 0 0 50%;
        max-width: 50%;
    	}
    }
  }
}