.herobanner {
	justify-content: center;
	background-color: $header-bg;
	position: relative;
	overflow: hidden;
	padding: 0 !important;
	.hero-content {
		position: relative;
		img {
			position: relative;
			z-index: 1;
			width: 100%;
		}
	}
}